page-list {
      
      .full-image {
        width: 100%;
        height: 80%;
      }
      
      .card-description {
        text-align: center;
      }
      .card-md{
        height: 100%;
      }
}

